$default-fonts: 'Roboto', sans-serif;
$fonts: 'Poppins', sans-serif, $default-fonts;

$black: #020202;
$white: #ffffff;
$cream-white: #EDF5E1;
$swamp-green: #379683;
$dark-blue: #05386B;
$hover-dark-blue: #01203f;
$grey: #666666;
