@import "../../assets/styles/global.module";

.todoTaskContainer {
  width: 100%;
  background-color: $cream-white;
  border: 1px solid $dark-blue;
}

.taskText {
  @include fonts("Poppins", 20px, $black, 400);
}

.taskTextChecked {
  text-decoration: line-through;
  color: $grey;
}